.ai-box {
  .ant-card-head-title {
    color: #2fb4ff;
  }
  .operator {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .clear {
      margin-right: 20px;
    }
  }
  .result {
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
  }

  .result h1,
  .result h2,
  .result h3 {
    color: #000;
  }

  .result p {
    margin-bottom: 10px;
  }
}
